* {
    font-family     : 'Roboto', sans-serif;
    margin          : 0;
    padding         : 0;
    box-sizing      : border-box;
    background-color: #E5E5E5;
}

a {
    text-decoration: none;
}

.img-yoga {
    display: block;
    margin : 195px auto 122px auto;
}

input {
    width        : 321px;
    height       : 46px;
    background   : #F7F7F7;
    box-shadow   : -4px 4px 18px rgb(0 0 0 / 9%);
    border-radius: 10px;
    border       : none;
    display      : block;
    margin       : 0 auto;
}

input::placeholder {
    font-style  : normal;
    font-weight : normal;
    font-size   : 13px;
    line-height : 15px;
    color       : #969696;
    padding-left: 19px;
}

.input-password {
    margin-top: 21px;
}

.forgot-password {
    font-style : normal;
    font-weight: normal;
    font-size  : 14px;
    line-height: 16px;
    color      : #000000;
    display    : block;
    margin     : 35px 30px 38px 0;
    text-align : right;
}

button {
    display      : block;
    width        : 133px;
    height       : 46px;
    box-shadow   : -4px 4px 18px rgb(0 0 0 / 9%);
    border-radius: 10px;
    border       : none;
    margin       : 0 auto;
    background   : #323232;
    font-style   : normal;
    font-weight  : normal;
    font-size    : 15px;
    line-height  : 18px;
    color        : #FFFFFF;
}

p {
    font-style : normal;
    font-weight: normal;
    font-size  : 15px;
    line-height: 18px;
    color      : #969696;
    text-align : center;
    margin-top : 21px;
}

.or {
    width      : 128px;
    height     : 29px;
    font-style : normal;
    font-weight: 900;
    font-size  : 18px;
    line-height: 21px;
    display    : block;
    margin     : 25px auto;
    color      : #000000;
}

strong {
    color: #4B4B4B;
}

.container {
    margin    : 18px auto 80px auto;
    text-align: center;
}

.dots {
    margin: 0 18px;
}